<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--
            	作者：offline
            	时间：2016-09-28
            	描述：bootstrap的相关css 的引入
            -->
<link rel="stylesheet" href="css/normalize.css" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-table.min.css" />

<style type="text/css">
.aa {
	margin: 0 auto;
	font-size: 21px;
	background-color: lightgreen;
	width: 855px;
	height: 822px;
}

a {
	cursor: pointer;
}
</style>
<script type="text/javascript" src="js/html5shiv.min.js"></script>
<script type="text/javascript" src="js/respond.min.js"></script>
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-table.min.js"></script>
<script type="text/javascript" src="js/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="js/bootstrap-table-export.js"></script>
<script type="text/javascript" src="js/tableExport.js"></script>
<script type="text/javascript" src="utils/personShow.js"></script>
<title>我是人员添加页面</title>

</head>
<body>
	<h3>我是   everyone 页面</h3>
	<h3>设置，每一个人，不需要登陆，都可以访问</h3>

</body>
</html>
