<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--
            	作者：offline
            	时间：2016-09-28
            	描述：bootstrap的相关css 的引入
            -->
<link rel="stylesheet" href="css/normalize.css" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-table.min.css" />

<style type="text/css">
.aa {
	color:red;
}

a {
	cursor: pointer;
}

</style>


<title>我是人员添加页面</title>

</head>
<body>
	<div class="aa">
		<h1>恭喜您！成功访问到了本页面</h1>
	</div>
	<h1>如果该角色没有访问本页面权限</h1>
	<h1>跳至403页面</h1>
</body>
</html>
